<footer class="footer">

  <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
  <span id="busuanzi_container_site_pv">总浏览量<span id="busuanzi_value_site_pv"></span>次</span>
  <br>
    Copyright &copy;
    <% if (new Date().getFullYear() == 2017) { %>
        <%- new Date().getFullYear() %>
    <% } else { %>
        2017 - <%- new Date().getFullYear() %>
    <% } %>

    <a href="https://github.com/Crab2died" target="_blank"> Crab2Died </a>
    All Rights Reserved.

</footer>
<div class="back-to-top" id="JELON__backToTop" title="返回顶部">返回顶部</div>
