<!-- 搜索遮罩框 -->
<span class="local-search local-search-google local-search-plugin" style="">
  <input type="search" placeholder="站内搜索" id="local-search-input" class="local-search-input-cls" style=""/>&nbsp;<i class="fa fa-search"></i>
  <div id="local-search-result" class="local-search-result-cls"></div>
</span>