<div class="widget-bd" style="position: relative;">

  <a target="_blank" href="<%- theme.ad_nav_1.link %>">
    <img class="ad_nav" style="width: 100%; height: 100%" src="<%- theme.ad_nav_1.image %>" >
  </a>

</div>