<div class="widget-bd" style="position: relative;">
  <div class="ad-tag">广告</div>
  <a target="_blank" href="<%- theme.ad_nav_top.link %>">
    <img class="ad-nav-img" title="<%- theme.ad_nav_top.title %>" src="<%- theme.ad_nav_top.image %>" >
  </a>
</div>