<!-- 文章分类 -->
<ul class="widget-bd">
    <% site.categories.forEach(function(cat){ %>
    <li>
        <a href="<%= url_for(cat.path) %>"><%= cat.name %></a>
        <span class="badge" style="position: relative; float: right; margin-right: 5px; font-weight: bold">(<%= cat.length %>)</span>
    </li>
    <% }); %>
</ul>