<!-- 文章分类 -->
<ul class="widget-bd">
    <% site.categories.sort('length', -1).forEach(function(cat, index){
    if (index < 5) {
    %>
    <li>
        <a href="<%= url_for(cat.path) %>"><%= cat.name %></a>
        <span class="badge" style="position: relative; float: right; margin-right: 5px; font-weight: bold">(<%= cat.length %>)</span>
    </li>
    <% }}); %>
</ul>