<!-- 文章分类 -->
<ul class="widget-bd">
  <% site.categories.sort('length', -1).forEach(function(cat, index){
  if (index < 5) {
  %>
    <li title="<%= cat.name %>">
      <span class="badge">(<%= cat.length %>)</span>
      <a href="<%= url_for(cat.path) %>"><b><%= cat.name %></b></a>
    </li>
  <% }}); %>
</ul>