
<div class="line-post"></div>

<div id="container"></div>
<link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
<script>
    var gitment = new Gitment({
        id: '{{ page._id }}', // 可选。默认为 location.href
        owner: 'Crab2Died',
        repo: 'dsolvers.github.io',
        oauth: {
            client_id: '42913a1fc0807a42aa5c',
            client_secret: 'db91f2a8a0aef69badfd34ce02b0c7f5148b7592'
        }
    });
    gitment.render('container')
</script>