/*!
 * 全局样式
 */
.container
  max-width 1180px
  _width 1180px
  background-color c-fff
  margin 0 auto 10px
  text-left()
.bulletin
  max-width 1180px
  _width 1180px
  background-color c-fff
  margin 0 auto 10px
  display block
  font-size 16px
  padding 0
  position relative
  height 26px
  text-left()

.home
  //margin-top 78px
  background-color c-eee
.btn
  background-color #ff5e52
  border 0
  color c-fff
  opacity .8
  box-sizing border-box
  &:hover
    opacity .75
.btn-ok
  background-color #ff5e52
.btn-cancel
  background-color #51cc87
.form-control
  box-sizing border-box

.browsehappy
  padding 8px 0
  background #fbe3e4
  color #8a1f11
  text-align center
.loading-mask
  position fixed
  top 0
  right 0
  left 0
  bottom 0
  display block
  width 100%
  height 100%
  background-color rgb(255, 255, 255)
  opacity .8
  z-index 100
  .loading-icon
    position relative
    top 50%
    left 50%
    width 50px
    height 50px
    margin-top -25px
    margin-left -25px
.bc-green
  background-color #22bf30
.c-green
  color #22bf30

.bc-grid
  background: #e7e7e7;
  background-image:
  linear-gradient(#f8f8f8 1px,transparent 0),
  linear-gradient(90deg, #f8f8f8 1px,transparent 0);
  background-size:15px 15px,15px 15px;
  // 或者
  //background: #eeeeee;
  //background-image: linear-gradient(white 2px,transparent 0),
  //linear-gradient(90deg, white 2px,transparent 0),
  //linear-gradient(hsla(0,0%,100%,.3) 1px,transparent 0),
  //linear-gradient(90deg,hsla(0,0%,100%,.3) 1px,transparent 0);
  //background-size:75px 75px,75px 75px,15px 15px,15px 15px;
