---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

.post-tag {
  margin-right: 10px;
  padding: 2px 5px;
  font-size: 14px;
  font-weight: inherit;
  color: rgba(0, 0, 0, 0.55);
  background-color: rgba(0, 0, 0, 0.09);
}

.post-excerpt {
  color: rgba(0, 0, 0, 0.63);
  font-size: 14px;
  background-color: rgba(0, 0, 0, 0.02);
}
.page-content {
  padding: 1px 5px;
}

.post-hr {
  margin-top: 18px;
  border: none;
  border-top: 3px solid rgba(0,0,0,0.08)
}

.text-snapshot {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  white-space: normal !important;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.pagination {
  text-align: right;
  margin: 15px 0;
}

.post {

  margin-bottom: 80px;
}

.gitment-footer-container {
  display: none;
}

.gitment-header-issue-link {
  display: none;
}

.gitment-header-container {
  text-align: right;
}

.line-post {
  height: 2px;
  background: rgba(0, 0, 0, 0.22); /* For browsers that do not support gradients */
  //background: -webkit-linear-gradient(-90deg, rgba(0, 0, 0, 0.2), rgba(60, 255, 60, 0)); /* For Safari 5.3d-lines-animation.js to 6.0 */
  //background: -o-linear-gradient(-90deg, rgba(0, 0, 0, 0.2), rgba(54, 255, 54, 0.03)); /* For Opera 11.3d-lines-animation.js to 12.0 */
  //background: -moz-linear-gradient(-90deg, rgba(0, 0, 0, 0.2), rgba(54, 255, 54, 0.03)); /* For Firefox 3.6 to 15 */
  //background: linear-gradient(-90deg, rgba(0, 0, 0, 0.2), rgba(54, 255, 54, 0.03)); /* Standard syntax */
}

.post-list-head {

  color: rgba(0, 0, 0, 0.77);
  font-size: 32px;
  margin-bottom: 8px;
}

.p-title {
  margin: 8px 0 15px 0;
}

.post-previous {
  position: absolute;
  left: 0;
}

.post-next {
  position: absolute;
  right: 0;
}