---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

.post-tag {
  margin-right: 10px;
  padding: 2px 5px;
  font-size: 14px;
  font-weight: inherit;
  color: rgba(0, 0, 0, 0.67);
  background-color: rgba(0, 1, 1, 0.12);
}

.post-excerpt {
  color: rgba(0, 0, 0, 0.51);
  font-size: 14px;
  background-color: rgba(0, 1, 1, 0.05);
}
.page-content {
  padding: 1px 5px;
}

.text-snapshot {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  white-space: normal !important;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.pagination {
  text-align: right;
  margin-bottom: 10px;
}

.post {

  margin-bottom: 50px;
}

.gitment-footer-container {
  display: none;
}

.gitment-header-issue-link {
  display: none;
}