.archive-widget
  ul
    margin 0
    padding 10px 0
    text-align center

.archive-list
  list-style: none
  font-size 16px
  background-color #ebebeb
  border-bottom 2px solid #c4c6c2
  .archive-list-item
    display inline-block
    margin 10px 0
    min-width 25%
    max-width 50%
    text-align center
    a
      position: relative;
      display: inline-block;
      margin-right: 6px;
      padding: 4px 7px;
      top: -1px;
      color: #fff;
      background-color: #51cc87;
      font-size: 14px;
      vertical-align: baseline;
      opacity: 0.85;
    a:after
      position: absolute;
      display: block;
      top: 10px;
      right: -5px;
      width: 0;
      height: 0;
      content: " ";
      border-left: 5px solid #51cc87;
      border-top: 5px solid transparent;
      border-bottom: 5px solid transparent;
    .archive-list-link
      color #ffffff
    .archive-list-count
      color #767b75
      margin 0 5px