/*!
 * Article
 */
.article-nav
  padding-bottom 10px
  color #888

.article-share
  padding 0 0 15px
  .share-area
    height 24px
    line-height 24px
    margin 0 auto
    padding-left 10px
    text-align left
    border-left 3px solid rgba(255, 153, 153, .8)
    .share-txt
      float left
      height 24px
      line-height 24px
      margin-right 5px
      font-size 12px
      color c-999
    .share-icon
      float left
      display inline-block
      width 24px
      height 24px
      margin-right 10px
      background url(../img/share.png) no-repeat 0 0
      opacity .9
      &:hover
        opacity .7
      &.weibo
        background-position 0 0
      &.wechat
        background-position 0 -32px
      &.qqzone
        background-position 0 -65px
      &.qq
        background-position 0 -98px
      &.douban
        background-position 0 -324px

.wechat-show
  display none
  width 200px
  height 270px
  position fixed
  z-index 9
  background-color #efefef
  top calc((100% - 410px) / 2)
  left calc((100% - 230px) / 2)
  padding 15px
  border 1px
  .wx-header
    font-size 14px
    font-weight bold
    text-align left
    line-height 16px
    position relative
    color #000
    padding 5px 8px
  .wx-close
    position absolute
    right 0
    &:hover
      cursor pointer
  .wx-footer
    text-align center
    font-size 12px
    padding 5px 8px

.body
  box-shadow 0 1px 5px rgba(0, 0, 0, .08)

.article
  padding-top 0 !important
  padding-bottom 10px
  border-bottom 0
  figure
    margin 0
    padding 10px 20px
  .post-content
    h1, h2, h3, h4, h5, h6
      margin 10px 0
    img
      &:hover
        cursor zoom-in

.comments
  margin-top 20px

.page-navigator
  margin 1em 0
  padding 0 20px
  list-style none
  .extend
  .page-number
    display inline-block
    margin-right 10px
    padding 3px 10px
    background-color c-eee
    opacity .8
    &.current
      color c-fff
      background-color #ff5e52
      cursor not-allowed
  .extend
  a.page-number
    transition .5s linear
    &:hover
      color c-444
      background-color c-ccc
  .space
    display inline-block
    margin-right 10px
    padding 3px 0

// 目录
.catalog
  display none
  overflow-y auto;
  overflow-x auto
  position: fixed;
  margin-top 5px
  border-left 1px solid #9da29c
  right 15px
  top 10%
  max-height 80%
  width 220px
  font-size 13px
  ol
    list-style-type none
    padding-inline-start 15px
  .post-toc-text
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

.copyright_label
  margin 15px 0;
  padding-left 10px;
  border-left 3px solid #b0b0b0;
  font-size 12px;
  .copyright_title
    color #b0b0b0
  .copyright_notice
    color #8e8e8e

.img-show
  position fixed
  z-index 99999
  top 0
  width 100%
  height 100%
  background-color rgba(64, 64, 64, 0.75)
  text-align center
  img
    margin 0 auto
    position relative
    top 50%
    transform translateY(-50%)
    max-width 95%
    max-height 85%
    border-radius 10px