/*!
 * Sidebar
 */
.sidebar
  float left
  width 330px
  margin-left -350px
  padding-top 20px
  padding-bottom 20px
  .widget
    position relative
    margin-bottom 20px
    clear both

.widget
  ul
    margin 0
    padding 0
  .widget-hd
    margin 0
    padding 0
    border-bottom 2px solid c-eee
    strong
      position relative
      display inline-block
      bottom -2px
      color #444
      border-bottom 2px solid #ff5e52
      font-weight normal
    .logout
      position relative
      bottom -2px
      font-size 14px
      font-weight normal
      text-decoration underline
      &:hover
        text-decoration none
  .widget-bd
    margin 0
    padding 0
    list-style none
    li:nth-of-type(odd) {
      background: #f6f6f6;
    }
    li:nth-of-type(even) {
      background: #f0f0f0;
    }
    li
      display block
      padding 10px 0
      line-height 1.5
      border-bottom 1px solid c-eee
      font-size 12px
      overflow hidden
      text-overflow ellipsis
      white-space nowrap
      .badge
        position relative
        float right
        margin-right 5px
        font-weight bold
      a
        margin 0 0 0 8px
        display inline-block
        width 100%
      a .avatar
        float left
        width 36px
        height 36px
        margin-right 10px
        border-radius 50%
        transform rotate(0)
        transition .5s
      a:hover .avatar
        transform rotate(360deg)
        opacity .85
      p
        margin 0
        padding 0
    .tag-item-link
      .tag-item-count
        margin-left 10px
      float left
      width 32.6666%
      margin 0 1% 1% 0
      padding 0 8px
      line-height 29px
      font-size 12px
      color #787878
      background-color #eeeeee
      -webkit-box-sizing border-box
      box-sizing border-box
      text-overflow ellipsis
      overflow hidden
      white-space nowrap
      -webkit-transition .5s
      -ms-transition .5s
      -moz-transition .5s
      transition .5s
      &:hover
        color #fff
        background-color #ff5e52
        opacity .85;
    .tag-item-link:nth-child(3n+0)
      margin-right 0
    .ad-tag
      position absolute
      right 19px
      background-color #ffffff
      opacity 0.65
      color #b0b0b0
      font-size 12px
    .ad-tag-close
      position absolute
      right 0
      width 18px
      height 18px
      background-color #ff815a
      opacity 0.65
      &:hover
        cursor pointer
        background-color #aeaeae
    .ad-nav-img
      width 100%
      height 100%

  .tag-wrap
    padding 10px 0 0
    overflow hidden
